/*-------reset------*/
* {
margin: 0;
padding: 0;
box-sizing: border-box; }
/*-------body------*/
.body{
  background-color: #000;
  color: #fff;}
/*--------------------navegacion------------------------*/
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  padding: 0px; }
  .navbar-expand-lg.bg-body-tertiary {
    background-color: transparent !important; }
  .navbar .nav-link {
    --bs-nav-link-color: #fff; }
  .navbar-brand {
    color: #fff;
    font-size: 7vmin;
    padding-right: 4rem; }
  .navbar-brand:hover {
    color: #ff0d5d; }
  .navbar .nav-link:hover {
    color: #821539; }
  .navbar-nav .nav-link.active, .navbar .navbar-nav .show > .nav-link {
    color: #ff0d5d; }
  .navbar-toggler {
    color: #000000;
    background-color: #b02a37;
    border: var(--bs-border-width) solid #000000; }
/*-------------------Index/Portada----------------------*/
.main{
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 80px auto; }

.section__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
  padding-top: 2rem;
  gap: 10px; }
.section__gallery-item{
  position: relative; }
.section__gallery-title{
  font-size: 3vmin;
  position: absolute;
  bottom: 0;
  color: #fff;
  background: linear-gradient(348deg, black, transparent);
  width: 100%;
  margin: 0;
  padding: 20px;}
.section__gallery-img{
  width: 100%;
  height: 100%;
  object-fit: cover;}


/*-----------------------footer-------------------------*/
.footer {
  font-size: 0.8rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1px;
  margin-top: auto; }
  .footer__item {
    width: 20px;
    margin: 2px; }
  .footer__p {
    margin-top: 0px;
    margin-bottom: 1rem; }
  .footer__redes:hover {
    color: #ff0d5d; }

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #e01a1a;
    --bs-pagination-bg: #000;
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: #f8f9fa;
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: #d10000;
    --bs-pagination-hover-bg: rgb(0 0 0 / 13%);
    --bs-pagination-hover-border-color: rgb(0 0 0 / 13%);
    --bs-pagination-focus-color: #f8f9fa;
    --bs-pagination-focus-bg: rgb(0 0 0 / 13%);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0a58ca;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: #f8f9facf;
    --bs-pagination-disabled-bg: rgb(0 0 0 / 13%);
    --bs-pagination-disabled-border-color: #b02a37;
    display: flex;
    padding-left: 0;
    list-style: none;}







